rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	// Disable all reads & writes by default
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Enable all read & writes to foos collection
    match /foos/{foo} {
    	allow read, write: if true;
    }
  }
}