html,
body,
#app,
.contentContainer {
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
