/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Reset the default button styles */
.flat-button {
  border: none;
  background-color: transparent;
  padding: 10px 20px; /* Add padding to create the button size */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  outline: none; /* Remove the focus outline */
}

/* Custom flat button styles */
.flat-button {
  color: #333; /* Set the text color */
  background-color: #f0f0f0; /* Set the background color */
  border-radius: 4px; /* Add a slight border-radius for a softer look */
}

/* Hover effect (optional) */
.flat-button:hover {
  background-color: #ddd; /* Change the background color on hover */
}

#openNavToggle {
  font-size: 24px;
}

#closeNavToggle {
  background-color: white;
}